In [68]:
import pandas as pd

In [69]:
import os

In [70]:
os.chdir('/home/michael/Dokumente/OKFN/OffenerHaushalt/Berlin/')

In [71]:
ls

2015_Ansatz_Ist.ods   2016_Ansatz_Ist.ods   Berlin-15-19.csv   hpl1617.csv
2015_Ansatz_Ist.xlsx  2016_Ansatz_Ist.xlsx  berlin-gesamt.csv  hpl1819.csv
2015_Ist.csv          2016_Ist.csv          hpl1415.csv

In [72]:
ist2015 = pd.read_csv('2015_Ist.csv')
ist2016 = pd.read_csv('2016_Ist.csv')
plan2015 = pd.read_csv('hpl1415.csv')
plan2017= pd.read_csv('hpl1617.csv')
plan2019 = pd.read_csv('hpl1819.csv')

In [73]:
del ist2015['Ansatz']
ist2015['Jahr'] = 2015
ist2015['BetragTyp'] = 'Ist'
ist2015 = ist2015.rename(columns = {'Ist': 'Betrag'})

In [74]:
del ist2016['Ansatz']
ist2016['Jahr'] = 2016
ist2016['BetragTyp'] = 'Ist'
ist2016 = ist2016.rename(columns = {'Ist': 'Betrag'})

In [75]:
plan2014 = plan2015.rename(columns={'Ansatz 2014 in €': 'Betrag'}).copy()
del plan2014['Ansatz 2015 €']
plan2014['Jahr'] = 2014
plan2014['BetragTyp'] = 'Plan'

In [76]:
plan2015 = plan2015.rename(columns={'Ansatz 2015 €': 'Betrag'})
del plan2015['Ansatz 2014 in €']
plan2015['Jahr'] = 2015
plan2015['BetragTyp'] = 'Plan'

In [77]:
plan2016 = plan2017.rename(columns={'Ansatz 2016 in €': 'Betrag'}).copy()
del plan2016['Ansatz 2017 in €']
plan2016['Jahr'] = 2016
plan2016['BetragTyp'] = 'Plan'

In [78]:
plan2017 = plan2017.rename(columns={'Ansatz 2017 in €': 'Betrag'}).copy()
del plan2017['Ansatz 2016 in €']
plan2017['Jahr'] = 2017
plan2017['BetragTyp'] = 'Plan'

In [79]:
plan2018 = plan2019.rename(columns={'Ansatz 2018 in €': 'Betrag'}).copy()
del plan2018['Ansatz 2019 in €']
plan2018['Jahr'] = 2018
plan2018['BetragTyp'] = 'Plan'

In [80]:
plan2019 = plan2019.rename(columns={'Ansatz 2019 in €': 'Betrag'})
del plan2019['Ansatz 2018 in €']
plan2019['Jahr'] = 2019
plan2019['BetragTyp'] = 'Plan'

In [81]:
all_years = pd.concat([ist2015, ist2016, plan2014, plan2015, plan2016, plan2017, plan2018, plan2019])

In [82]:
liste = {'Einnahmetitel': 'Einnahmen', 'E': 'Einnahmen', 'Ausgabetitel': 'Ausgaben', 'A': 'Ausgaben'}

In [83]:
teil = all_years['Titelart']

In [84]:
all_years['Titelart'] = [liste[i] for i in teil.values]

In [85]:
all_years.dtypes

Typ                           int64
Bezeichnung                  object
Bereich                       int64
Bereichsbezeichnung          object
Einzelplan                    int64
Einzelplanbezeichnung        object
Kapitel                       int64
Kapitelbezeichnung           object
Hauptgruppe                   int64
Hauptgruppenbezeichnung      object
Obergruppe                    int64
Obergruppenbezeichnung       object
Gruppe                        int64
Gruppenbezeichnung           object
Hauptfunktion                 int64
Hauptfunktionsbezeichnung    object
Oberfunktion                  int64
Oberfunktionsbezeichnung     object
Funktion                      int64
Funktionsbezeichnung         object
Titelart                     object
Titel                         int64
Titelbezeichnung             object
Betrag                       object
Jahr                          int64
BetragTyp                    object
dtype: object

In [86]:
all_years['Betrag'] = all_years['Betrag'].str.replace(',',' ')

In [87]:
all_years['Betrag'] = all_years['Betrag'].str.replace('.','')

In [88]:
all_years['Betrag'] = all_years['Betrag'].str.replace(' ','.')

In [89]:
all_years.Betrag = all_years.Betrag.astype(float)

In [90]:
all_years.to_csv('berlin-gesamt.csv', encoding='utf-8')

In [91]:
all_years.dtypes

Typ                            int64
Bezeichnung                   object
Bereich                        int64
Bereichsbezeichnung           object
Einzelplan                     int64
Einzelplanbezeichnung         object
Kapitel                        int64
Kapitelbezeichnung            object
Hauptgruppe                    int64
Hauptgruppenbezeichnung       object
Obergruppe                     int64
Obergruppenbezeichnung        object
Gruppe                         int64
Gruppenbezeichnung            object
Hauptfunktion                  int64
Hauptfunktionsbezeichnung     object
Oberfunktion                   int64
Oberfunktionsbezeichnung      object
Funktion                       int64
Funktionsbezeichnung          object
Titelart                      object
Titel                          int64
Titelbezeichnung              object
Betrag                       float64
Jahr                           int64
BetragTyp                     object
dtype: object