In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/home/michael/Dokumente/OKFN/OffenerHaushalt/Gilching/Haushalt 2015-2018a.csv',  sep=';', encoding='ISO 8859-1')

In [16]:
df.dtypes

Haushalt Art        object
Titelnr.             int64
Titel               object
Gruppennr.           int64
Gruppe              object
Budget Richtung     object
Bezeichnung         object
Jahr                 int64
Ansatz/Rechnung     object
Betrag             float64
dtype: object

In [18]:
df.Betrag = df.Betrag.astype(int)

In [20]:
df[:5]

,Haushalt Art,Titelnr.,Titel,Gruppennr.,Gruppe,Budget Richtung,Bezeichnung,Jahr,Ansatz/Rechnung,Betrag
0,Vermögenshaushalt,0,Allgemeine Verwaltung,600,Einrichtungen f.d.gesamte Verwaltung-Rathaus,Einnahmen,Verkauf von beweglichen Sachen,2015,Rechnung,0
1,Vermögenshaushalt,0,Allgemeine Verwaltung,600,Einrichtungen f.d.gesamte Verwaltung-Rathaus,Einnahmen,Tilgungszuschuss KfW für Wärmepumpe (Gebäudene...,2015,Rechnung,0
2,Vermögenshaushalt,0,Allgemeine Verwaltung,600,Einrichtungen f.d.gesamte Verwaltung-Rathaus,Ausgaben,Erwerb von beweglichen Sachen des Anlagevermögens,2015,Rechnung,0
3,Vermögenshaushalt,0,Allgemeine Verwaltung,600,Einrichtungen f.d.gesamte Verwaltung-Rathaus,Ausgaben,Beschaffung von Fahrzeugen,2015,Rechnung,1751
4,Vermögenshaushalt,0,Allgemeine Verwaltung,600,Einrichtungen f.d.gesamte Verwaltung-Rathaus,Ausgaben,Gebäudeneubau Rathaus,2015,Rechnung,16400000

In [19]:
stop

NameError: name 'stop' is not defined

In [ ]:
df['Betrag'] = df['Betrag'].replace('.','')

In [ ]:
df['Betrag'] = df['Betrag'].str.replace('.','')

In [ ]:
df['Betrag'] = df['Betrag'].str.replace(' ','.')

In [ ]:
df.dtypes

In [ ]:
df['Betrag'] = df.apply(lambda row: abs(row["Betrag"]) if row["Art"] == "Erträge" else row["Betrag"], axis=1)

In [ ]:
df[:5]

In [ ]:
df = df.drop(df.index[df.Art == 'inv. Einzahlungen'])

In [22]:
df.to_csv('/home/michael/Dokumente/OKFN/Offener Haushalt/Gilching/Haushalt-2015-2018-enriched.csv', encoding='utf-8')